/*
This file is part of MunHammer's website.

MunHammer's website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

MunHammer's website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Foobar. If not, see <https://www.gnu.org/licenses/>.
*/
:root {
  color-scheme: light dark;
  font-family:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  --light: rgb(215 192 235);
  --dark: rgb(103 80 134);
}

body {
  padding: 0;
  margin: 0;
}

header {
  padding: 1em 2em 2em;
  margin: 0;
  line-height: 1.2em;
  font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  font-weight: bold;
}

header nav a {
  margin: 5% 6em 5% 0;
  font-size: 1.5em;
}

main {
  padding: 5em;
  margin: 0;
}

footer {
  margin: 0;
  padding: 1em;
}

footer nav {
  display: flex;
}

footer nav div {
  margin: auto 3em auto 1em;
}

footer nav div ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.favicon {
  height: 1em;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background-color: var(--dark);
  }

  header {
    background-color: rgb(60 0 80);
  }

  footer {
    background-color: rgba(40 0 60);
    color: rgb(135 112 160);
  }

  a:visited {
    color: rgb(0, 202, 219);
  }

  a {
    color: rgb(0, 102, 219);
  }

  main a {
    color: rgb(56, 158, 255);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--dark);
    background-color: var(--light);
  }

  header {
    background-color: rgb(205 182 230);
  }

  footer {
    background-color: rgba(175 152 200);
    color: rgb(60 0 80);
  }

  a:visited {
    color: rgb(0, 92, 109);
  }

  a {
    color: rgb(0, 0, 109);
  }

  main a:visited {
    color: rgb(0, 62, 79);
  }
}
